@import 'reset';
@import 'variables/global';
@import 'mixins/mixins';

:root {
  font-size: $rem;
  font-family: $font-family-main;
  font-weight: 500;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
