@font-face {
  font-family: 'Poppins';
  src: url('../../shared/assets/fonts/Poppins-Thin.ttf') format('ttf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../shared/assets/fonts/Poppins-Light.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../shared/assets/fonts/Poppins-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../shared/assets/fonts/Poppins-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../shared/assets/fonts/Poppins-SemiBold.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../shared/assets/fonts/Poppins-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}
